@model IEnumerable<Notes.Models.ViewNote>
@{ 
    Layout = null;
}
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NoteDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoryDescription)
        </th>
       <th>
            @Html.DisplayNameFor(model => model.SaveBy)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NoteDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryDescription)
        </td>
       <td>
            @Html.DisplayFor(modelItem => item.SaveBy)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Notes_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Notes_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Notes_ID })
        </td>
    </tr>
}

</table>
